<a href="https://colab.research.google.com/github/nikhiltarte/TensorFlow-DeepLearning/blob/main/ML_Buzz_Beginer_Discount_based_on_customer_behavior.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
from google.colab import files

Importing Dataset

In [2]:
#Import_Both Test and Train Dataset with name as train.csv and test.csv

uploaded = files.upload()

Saving test.csv to test.csv
Saving train.csv to train.csv

In [154]:
import io

train_Dataset = pd.read_csv(io.BytesIO(uploaded['train.csv']))
test_Dataset = pd.read_csv(io.BytesIO(uploaded['test.csv']))

train_Dataset

      Customer_ID  No_of_orders_placed  ... Premium_membership  Discount_percentage
0        ID0xb02f           129.000000  ...                 No                   34
1        ID0x8cff                  NaN  ...                 No                   42
2        ID0xc812           100.000000  ...                 No                   31
3        ID0xedcd            87.000000  ...                 No                   19
4        ID0x93c3            40.000000  ...                 No                   21
...           ...                  ...  ...                ...                  ...
53797     ID0x56a           250.000000  ...                 No                   36
53798    ID0x82c8           226.000000  ...                 No                   36
53799    ID0xafed           151.000000  ...                Yes                   51
53800    ID0x9eff           230.000000  ...                 No                   21
53801    ID0x2cb5           361.420106  ...                 No                   39

[53802 rows x 14 columns]

In [155]:
train_Dataset.dtypes

Customer_ID                   object
No_of_orders_placed          float64
Category_of_customers         object
Maximum_bill                 float64
Minimum_bill                 float64
Last_order_placed_date        object
No_of_issues_raised          float64
Customer_rating                int64
Average_food_rating            int64
Average_happiness_rating       int64
Coupon_consumption_status    float64
Coupons_offered              float64
Premium_membership            object
Discount_percentage            int64
dtype: object

In [156]:
#Replace NA By Mean
print("Train:\n==================================")
print(train_Dataset.isna().any(axis=0))

train_Dataset.isna().sum()
train_Dataset = train_Dataset.dropna()
#train_Dataset.fillna(train_Dataset.mean(), inplace=True)
test_Dataset.fillna(test_Dataset.mean(), inplace=True)

print("\n\nTrain:\n==================================")
print(train_Dataset.isna().any(axis=0))
print("\n\nTest:\n==================================")
print(train_Dataset.isna().any(axis=0))

Train:
==================================
Customer_ID                  False
No_of_orders_placed           True
Category_of_customers        False
Maximum_bill                 False
Minimum_bill                 False
Last_order_placed_date       False
No_of_issues_raised           True
Customer_rating              False
Average_food_rating          False
Average_happiness_rating     False
Coupon_consumption_status     True
Coupons_offered               True
Premium_membership           False
Discount_percentage          False
dtype: bool


Train:
==================================
Customer_ID                  False
No_of_orders_placed          False
Category_of_customers        False
Maximum_bill                 False
Minimum_bill                 False
Last_order_placed_date       False
No_of_issues_raised          False
Customer_rating              False
Average_food_rating          False
Average_happiness_rating     False
Coupon_consumption_status    False
Coupons_offered              False
Premium_membership           False
Discount_percentage          False
dtype: bool


Test:
==================================
Customer_ID                  False
No_of_orders_placed          False
Category_of_customers        False
Maximum_bill                 False
Minimum_bill                 False
Last_order_placed_date       False
No_of_issues_raised          False
Customer_rating              False
Average_food_rating          False
Average_happiness_rating     False
Coupon_consumption_status    False
Coupons_offered              False
Premium_membership           False
Discount_percentage          False
dtype: bool

In [157]:
#Drop Outliers for y
train_Dataset['Last_order_placed_date'] = pd.to_datetime(train_Dataset['Last_order_placed_date'], format='%m/%d/%Y %I:%M %p')
test_Dataset['Last_order_placed_date'] = pd.to_datetime(test_Dataset['Last_order_placed_date'], format='%m/%d/%Y %I:%M %p')

print(train_Dataset.dtypes)

Customer_ID                          object
No_of_orders_placed                 float64
Category_of_customers                object
Maximum_bill                        float64
Minimum_bill                        float64
Last_order_placed_date       datetime64[ns]
No_of_issues_raised                 float64
Customer_rating                       int64
Average_food_rating                   int64
Average_happiness_rating              int64
Coupon_consumption_status           float64
Coupons_offered                     float64
Premium_membership                   object
Discount_percentage                   int64
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [158]:
# Convert Datetime to Days from Max 
max_date_train = max(train_Dataset['Last_order_placed_date'])
train_Dataset['Last_order_placed_date'] = (max_date_train - train_Dataset['Last_order_placed_date']).dt.days
test_Dataset['Last_order_placed_date'] = (max_date_train - test_Dataset['Last_order_placed_date']).dt.days

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [142]:
#Negitive Dataset

train_Dataset.drop(train_Dataset.loc[(train_Dataset['Maximum_bill'] < 0) | (train_Dataset['Minimum_bill'] < 0) | (train_Dataset['No_of_orders_placed'] < 0) | (train_Dataset['No_of_issues_raised'] < 0)].index, inplace=True)
#test_Dataset.loc[(test_Dataset['Maximum_bill'] < 0) | (test_Dataset['Minimum_bill'] < 0)]

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [159]:
train_Dataset

      Customer_ID  No_of_orders_placed  ... Premium_membership  Discount_percentage
0        ID0xb02f                129.0  ...                 No                   34
2        ID0xc812                100.0  ...                 No                   31
3        ID0xedcd                 87.0  ...                 No                   19
4        ID0x93c3                 40.0  ...                 No                   21
5        ID0xd263                158.0  ...                 No                   45
...           ...                  ...  ...                ...                  ...
53796    ID0xa193                134.0  ...                 No                   36
53797     ID0x56a                250.0  ...                 No                   36
53798    ID0x82c8                226.0  ...                 No                   36
53799    ID0xafed                151.0  ...                Yes                   51
53800    ID0x9eff                230.0  ...                 No                   21

[49737 rows x 14 columns]

In [160]:
#Analysing Dataset
train_Dataset.describe().transpose()

                             count         mean  ...      75%           max
No_of_orders_placed        49737.0   127.368974  ...   192.00    724.669533
Maximum_bill               49737.0  1950.004482  ...  2724.53  10147.345902
Minimum_bill               49737.0   197.738539  ...   255.04    821.409409
Last_order_placed_date     49737.0  1063.767276  ...  1597.00   2130.000000
No_of_issues_raised        49737.0   127.368974  ...   192.00    724.669533
Customer_rating            49737.0     3.873394  ...     4.00      5.000000
Average_food_rating        49737.0     3.696986  ...     4.00      5.000000
Average_happiness_rating   49737.0     3.684199  ...     4.00      5.000000
Coupon_consumption_status  49737.0    74.667390  ...   106.00    170.000000
Coupons_offered            49737.0   184.394535  ...   268.00    370.000000
Discount_percentage        49737.0    36.340692  ...    44.00     59.000000

[11 rows x 8 columns]

In [161]:
train_Dataset.Category_of_customers = pd.Categorical(train_Dataset.Category_of_customers)
train_Dataset['Category_of_customers'] = train_Dataset.Category_of_customers.cat.codes

train_Dataset.Premium_membership = pd.Categorical(train_Dataset.Premium_membership)
train_Dataset['Premium_membership'] = train_Dataset.Premium_membership.cat.codes


test_Dataset.Category_of_customers = pd.Categorical(test_Dataset.Category_of_customers)
test_Dataset['Category_of_customers'] = test_Dataset.Category_of_customers.cat.codes

test_Dataset.Premium_membership = pd.Categorical(test_Dataset.Premium_membership)
test_Dataset['Premium_membership'] = test_Dataset.Premium_membership.cat.codes

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [162]:
train_Dataset = train_Dataset.drop('Customer_ID', 1)


testCustermerID = test_Dataset['Customer_ID']
test_Dataset = test_Dataset.drop('Customer_ID', 1)

In [163]:
train_Dataset.shape

(49737, 13)

In [164]:
trainX = train_Dataset
trainX = trainX.drop('Discount_percentage',1)
trainY = train_Dataset['Discount_percentage']

testX = test_Dataset

In [ ]:
#from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(trainX, trainY, test_size=0.20, random_state=33)

In [165]:
X_train = trainX
y_train = trainY

Model Training Start

In [166]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.layers.experimental import preprocessing

In [170]:
# create model
model = keras.Sequential()
model.add(keras.layers.Dense(50, input_dim=12, activation='relu'))
model.add(keras.layers.Dense(50, activation='relu'))
model.add(keras.layers.Dense(50, activation='relu'))
model.add(keras.layers.Dense(1))
# Compile model
opt = tf.keras.optimizers.RMSprop(0.0099)
model.compile(loss='mse', optimizer=opt)
# evaluate model with standardized dataset

history = model.fit(X_train,y_train, epochs=100)

Epoch 1/100
1555/1555 [==============================] - 6s 4ms/step - loss: 1217.0282 - mse: 1217.0282
Epoch 2/100
1555/1555 [==============================] - 5s 3ms/step - loss: 82.8109 - mse: 82.8109
Epoch 3/100
1555/1555 [==============================] - 5s 3ms/step - loss: 71.8305 - mse: 71.8305
Epoch 4/100
1555/1555 [==============================] - 5s 4ms/step - loss: 68.4866 - mse: 68.4866
Epoch 5/100
1555/1555 [==============================] - 5s 4ms/step - loss: 68.3548 - mse: 68.3548
Epoch 6/100
1555/1555 [==============================] - 5s 3ms/step - loss: 66.5362 - mse: 66.5362
Epoch 7/100
1555/1555 [==============================] - 5s 4ms/step - loss: 65.3753 - mse: 65.3753
Epoch 8/100
1555/1555 [==============================] - 6s 4ms/step - loss: 64.5178 - mse: 64.5178
Epoch 9/100
1555/1555 [==============================] - 5s 3ms/step - loss: 64.2419 - mse: 64.2419
Epoch 10/100
1555/1555 [==============================] - 5s 3ms/step - loss: 63.4583 - mse: 63.4583
Epoch 11/100
1555/1555 [==============================] - 5s 3ms/step - loss: 63.4275 - mse: 63.4275
Epoch 12/100
1555/1555 [==============================] - 5s 3ms/step - loss: 63.1250 - mse: 63.1250
Epoch 13/100
1555/1555 [==============================] - 5s 3ms/step - loss: 63.0460 - mse: 63.0460
Epoch 14/100
1555/1555 [==============================] - 5s 3ms/step - loss: 62.9147 - mse: 62.9147
Epoch 15/100
1555/1555 [==============================] - 5s 4ms/step - loss: 62.7441 - mse: 62.7441
Epoch 16/100
1555/1555 [==============================] - 5s 3ms/step - loss: 62.4268 - mse: 62.4268
Epoch 17/100
1555/1555 [==============================] - 6s 4ms/step - loss: 62.2994 - mse: 62.2994
Epoch 18/100
1555/1555 [==============================] - 6s 4ms/step - loss: 62.3333 - mse: 62.3333
Epoch 19/100
1555/1555 [==============================] - 6s 4ms/step - loss: 62.2058 - mse: 62.2058
Epoch 20/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.8150 - mse: 61.8150
Epoch 21/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.6945 - mse: 61.6945
Epoch 22/100
1555/1555 [==============================] - 5s 3ms/step - loss: 61.8202 - mse: 61.8202
Epoch 23/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.8875 - mse: 61.8875
Epoch 24/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.8128 - mse: 61.8128
Epoch 25/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.6737 - mse: 61.6737
Epoch 26/100
1555/1555 [==============================] - 5s 3ms/step - loss: 61.5111 - mse: 61.5111
Epoch 27/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.7142 - mse: 61.7142
Epoch 28/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.6044 - mse: 61.6044
Epoch 29/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.6933 - mse: 61.6933
Epoch 30/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.4539 - mse: 61.4539
Epoch 31/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.3851 - mse: 61.3851
Epoch 32/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.4843 - mse: 61.4843
Epoch 33/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.2779 - mse: 61.2779
Epoch 34/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.4024 - mse: 61.4024
Epoch 35/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.3355 - mse: 61.3355
Epoch 36/100
1555/1555 [==============================] - 5s 3ms/step - loss: 61.2790 - mse: 61.2790
Epoch 37/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.1697 - mse: 61.1697
Epoch 38/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.1264 - mse: 61.1264
Epoch 39/100
1555/1555 [==============================] - 5s 3ms/step - loss: 61.3026 - mse: 61.3026
Epoch 40/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.1841 - mse: 61.1841
Epoch 41/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.1254 - mse: 61.1254
Epoch 42/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.1020 - mse: 61.1020
Epoch 43/100
1555/1555 [==============================] - 5s 3ms/step - loss: 61.0653 - mse: 61.0653
Epoch 44/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.1931 - mse: 61.1931
Epoch 45/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.8757 - mse: 60.8757
Epoch 46/100
1555/1555 [==============================] - 5s 4ms/step - loss: 61.0796 - mse: 61.0796
Epoch 47/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.8525 - mse: 60.8525
Epoch 48/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.9575 - mse: 60.9575
Epoch 49/100
1555/1555 [==============================] - 5s 3ms/step - loss: 60.8323 - mse: 60.8323
Epoch 50/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.8426 - mse: 60.8426
Epoch 51/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.7685 - mse: 60.7685
Epoch 52/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.9115 - mse: 60.9115
Epoch 53/100
1555/1555 [==============================] - 5s 3ms/step - loss: 60.8009 - mse: 60.8009
Epoch 54/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.6883 - mse: 60.6883
Epoch 55/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.9529 - mse: 60.9529
Epoch 56/100
1555/1555 [==============================] - 5s 3ms/step - loss: 61.0369 - mse: 61.0369
Epoch 57/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.9297 - mse: 60.9297
Epoch 58/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.7678 - mse: 60.7678
Epoch 59/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.8189 - mse: 60.8189
Epoch 60/100
1555/1555 [==============================] - 5s 3ms/step - loss: 60.9020 - mse: 60.9020
Epoch 61/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.7269 - mse: 60.7269
Epoch 62/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.8592 - mse: 60.8592
Epoch 63/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6955 - mse: 60.6955
Epoch 64/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6875 - mse: 60.6875
Epoch 65/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.0496 - mse: 61.0496
Epoch 66/100
1555/1555 [==============================] - 6s 4ms/step - loss: 61.2062 - mse: 61.2062
Epoch 67/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.7616 - mse: 60.7616
Epoch 68/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.8715 - mse: 60.8715
Epoch 69/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6986 - mse: 60.6986
Epoch 70/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.5953 - mse: 60.5953
Epoch 71/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6891 - mse: 60.6891
Epoch 72/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6639 - mse: 60.6639
Epoch 73/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6053 - mse: 60.6053
Epoch 74/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.7252 - mse: 60.7252
Epoch 75/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6670 - mse: 60.6670
Epoch 76/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.4077 - mse: 60.4077
Epoch 77/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.5660 - mse: 60.5660
Epoch 78/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.6239 - mse: 60.6239
Epoch 79/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3975 - mse: 60.3975
Epoch 80/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.4004 - mse: 60.4004
Epoch 81/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.5342 - mse: 60.5342
Epoch 82/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.4685 - mse: 60.4685
Epoch 83/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.4494 - mse: 60.4494
Epoch 84/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.5797 - mse: 60.5797
Epoch 85/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.5241 - mse: 60.5241
Epoch 86/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3897 - mse: 60.3897
Epoch 87/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.5034 - mse: 60.5034
Epoch 88/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.2693 - mse: 60.2693
Epoch 89/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3404 - mse: 60.3404
Epoch 90/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3597 - mse: 60.3597
Epoch 91/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3025 - mse: 60.3025
Epoch 92/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3055 - mse: 60.3055
Epoch 93/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.4412 - mse: 60.4412
Epoch 94/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.2162 - mse: 60.2162
Epoch 95/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3170 - mse: 60.3170
Epoch 96/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.2795 - mse: 60.2795
Epoch 97/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3009 - mse: 60.3009
Epoch 98/100
1555/1555 [==============================] - 5s 4ms/step - loss: 60.3565 - mse: 60.3565
Epoch 99/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.2711 - mse: 60.2711
Epoch 100/100
1555/1555 [==============================] - 6s 4ms/step - loss: 60.3151 - mse: 60.3151

In [1]:
y_predict = model.predict(X_train)
np.round(y_predict)

NameError: ignored

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_train, y_predict)*100

In [ ]:
y_predict_test = model.predict(testX)
y_predict_test

In [ ]:
testCustermerID = pd.DataFrame(testCustermerID) 
y_predict_test = pd.DataFrame(y_predict_test)

In [ ]:
submission = pd.DataFrame(testCustermerID)
submission['Discount_percentage'] = y_predict_test
submission

In [ ]:
submission.to_csv('Submission2.csv', index=False) 
files.download('Submission2.csv')